version: 2
jobs:
  build:
    working_directory: ~/bart_scrape
    docker:
      - image: cdale77/docker-elixir-base:latest
      - image: postgres:9.6
        environment:
          POSTGRES_USER: postgres
    steps:
      - checkout
      - type: cache-restore
        key: deps-{{ checksum "mix.lock" }}
      - run: mix deps.get
      - run: mix compile
      - type: cache-save
        key: deps-{{ checksum "mix.lock" }}
        paths:
          - deps
          - _build
      - run: mix ecto.create
      - run: mix test
